
 <script src="Scripts/AddNewPlace.js" ></script>
<div  id="add-tip-view" data-layout="default" data-role="view" data-title="Add new tip" data-show="initForm" class="view">
             
     <div data-role="header">
         <div data-role="navbar">
               <span data-role="view-title"></span>
               <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" data-click="NavigateToMap"></a>
               <a class="nav-button nav-button-text" data-align="right" data-role="button" data-click="OnSave">Add</a>
              
          </div> 
      </div> 
     <div data-role="content" >

                <ul data-role="listview" data-style="inset">
                    <li>
                        <label>
                            Title
                            <input id="title" type="text" placeholder="Title" />
                        </label>
                    </li>
                    <li>
                        <label>Tip type
                            <select id="type">
                                <option value="1">Tip</option>
                                <option value="2">Parking place</option>
                            </select>
                        </label>
                    </li>
                     <li>
                         <div>
                                 <label>
                                    Start Hour 
                                </label>
                           <div>
                                 <input id="startHour" type="number" value="0" />
                             </div>
                         </div>
                    </li>
                    
                     <li>
                         <div>
                                 <label>
                                    End Hour 
                                </label>
                           <div>
                                 <input id="endHour" type="number" value="23" />
                             </div>
                         </div>
                    </li>
                    <li>
                         <div>
                             <label>Description:</label>
                                 <textarea id="description" style="resize: none; width:100%; height:100px" placeholder="Description"></textarea>
                         </div>
                    </li>
                </ul>
         <br />
             
         </div>
         <div data-role="content">
             
             
         <div id="map-add" style="width: 100%; height: 300px;">
    </div>


     </div>
</div>
