
<script src="Scripts/TipDescription.js" ></script>
<div data-stretch="true"   id="tip-description-view" data-layout="default" data-role="view" data-title="Tip" data-init="initFormDescr" >
             
     <div data-role="header">
         <div data-role="navbar">
               <span data-role="view-title"></span>
               <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" data-click="NavigateToMap"></a>

              
          </div> 
      </div> 
     <div data-role="content" >
         <div id="description" >
             <ul data-role="listview" data-style="inset">
                    <li>
                        <label>
                            Title
                            <span id="title"></span>
                        </label>
                    </li>
                     <li>
                        <label>
                            Start Hour
                            <span id="startHour"></span>
                        </label>
                    </li>
                     <li>
                         <label>End Hour </label>
                         <span id="endHour"></span>

                    </li>
                    <li>
                        <label>Description:</label>
                        <textarea id="descriptionText" style="resize: none; width:100%; height:100px" placeholder="Description"></textarea>
          
                    </li>
                </ul>
         </div>
     </div>

</div>
