
<script src="Scripts/TipDescription.js" ></script>
<div data-stretch="true"   id="tip-description-view" data-layout="default" data-role="view" data-title="Tip" data-init="initFormDescr" >
             
     <div data-role="header">
         <div data-role="navbar">
               <span data-role="view-title"></span>
               <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" data-click="NavigateToMap"></a>

              
          </div> 
      </div> 
     <div data-role="content" >
         <div id="description" >
             
         </div>
     </div>

</div>
